@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 202 61% 7%;
    --foreground: 193 47% 93%;
    --card: 202 56% 12%;
    --card-foreground: 193 47% 93%;
    --popover: 202 56% 12%;
    --popover-foreground: 193 47% 93%;
    --primary: 193 100% 18%;
    --primary-foreground: 169 56% 95%;
    --secondary: 179 53% 43%;
    --secondary-foreground: 202 61% 7%;
    --muted: 202 51% 18%;
    --muted-foreground: 193 27% 65%;
    --accent: 189 63% 37%;
    --accent-foreground: 193 47% 93%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 202 51% 22%;
    --input: 202 51% 22%;
    --ring: 179 53% 43%;
    --radius: 0.75rem;
    --sidebar-background: 202 61% 7%;
    --sidebar-foreground: 193 47% 93%;
    --sidebar-primary: 193 100% 18%;
    --sidebar-primary-foreground: 169 56% 95%;
    --sidebar-accent: 202 51% 18%;
    --sidebar-accent-foreground: 193 47% 93%;
    --sidebar-border: 202 51% 22%;
    --sidebar-ring: 179 53% 43%;
  }

  .dark {
    --background: 202 61% 7%;
    --foreground: 193 47% 93%;
    --card: 202 56% 12%;
    --card-foreground: 193 47% 93%;
    --popover: 202 56% 12%;
    --popover-foreground: 193 47% 93%;
    --primary: 193 100% 18%;
    --primary-foreground: 169 56% 95%;
    --secondary: 179 53% 43%;
    --secondary-foreground: 202 61% 7%;
    --muted: 202 51% 18%;
    --muted-foreground: 193 27% 65%;
    --accent: 189 63% 37%;
    --accent-foreground: 193 47% 93%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 202 51% 22%;
    --input: 202 51% 22%;
    --ring: 179 53% 43%;
    --chart-1: 179 53% 43%;
    --chart-2: 189 63% 37%;
    --chart-3: 169 56% 55%;
    --chart-4: 193 100% 18%;
    --chart-5: 193 27% 65%;
    --sidebar-background: 202 61% 7%;
    --sidebar-foreground: 193 47% 93%;
    --sidebar-primary: 193 100% 18%;
    --sidebar-primary-foreground: 169 56% 95%;
    --sidebar-accent: 202 51% 18%;
    --sidebar-accent-foreground: 193 47% 93%;
    --sidebar-border: 202 51% 22%;
    --sidebar-ring: 179 53% 43%;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}